<h1>Привет! Пожалуйста, подтвердите вашу почту!</h1>

<p>
    Пожалуйста, подтвердите адрес вашей электронной почты, перейдя по ссылке ниже: <br><br>
    <a href="{{ signedUrl }}">Подтвердить Email</a>.
    Эта ссылка будет активна {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Добро пожаловать!
</p>
