<h1>Добрый день!</h1>

<p>
    Спасибо, что оформили подписку на наш сервис.
</p>
<p>
    Теперь уровень вашей подписки - {{ subscription.level.VALUE }}! Поздравляем!
</p>
<p>
    Она будет активна вплоть до {{ subscription.expiresAt|date('d.m.Y') }}
</p>

<p>
    Рады, что вы с нами!
</p>
